*{
    margin: 0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}
body{
    background-color: black;
    color:rgb(174, 163, 163);
    overflow-x: hidden;
}
.first_page::before{
    content: "";
    position: absolute;
    background: url(./Images/bg1.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
.first_page{
    /* border: 2px solid green; */
    height: 100vh;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 h1{
    font-size: 1.6rem;
    font-family:'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, rgb(168, 38, 38), rgb(45, 18, 144));
    padding: 12px;
    letter-spacing: 5px;
    border-radius: 10px;
}
.content{
    /* border: 2px solid red; */
    background-color: rgb(26, 19, 19);
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    font-family:'lato', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
}
#img_2{
    background: url(./Images/bg2.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#img_3{
    background: url(./Images/bg3.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#img_4{
    background: url(./Images/bg4.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@media only screen and (max-width: 900px){
    h1{
        font-size: 1rem;
        padding: 8px;
        letter-spacing: 3px;
    }

    .content{
    /* border: 2px solid red; */
    height: 20vh;
    font-size: 0.8rem;
    padding: 10px 40px;
    line-height: 15px;
    }
}
@media only screen and (max-width: 420px){
    h1{
        font-size: 0.8rem;
        padding: 8px;
        letter-spacing: 4px;
    }

    .content{
    /* border: 2px solid red; */
    height: 20vh;
    font-size: 0.6rem;
    padding: 10px 40px;
    line-height: 15px;
    }
}
@media only screen and (max-height: 600px){
    h1{
        font-size: 0.8rem;
        padding: 8px;
        letter-spacing: 4px;
    }

    .content{
    /* border: 2px solid red; */
    height: 20vh;
    font-size: 0.8rem;
    padding: 10px 40px;
    line-height: 15px;
    }
}
